

{% extends 'layout.html' %}

{% block title %}
Editar Articulo
{% endblock%}

{% block content %}

<div class="container-fluid">
    <h1 id="title-register">{{titulo_editar}}</h1>
    {{register_form.errors}}
    <form method="post" action="">
        {% csrf_token %}

        <div class="col-8 mx-auto">

            <div class="d-flex flex-column bd-highlight">
                {% for fields in form %}
                <div class="col-5 pt-2">
                    <label for="articulo">{{ fields.label }}</label>
                </div>

                {{ fields }}

                {% endfor %}
            </div>

            <button class="btn btn-primary" type="submit" value="Registrarse" id="register">Guardar</button>

        </div>
    </form>
</div>



{% endblock %}
